<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutortrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.tutortrack.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialog.LoginDialog"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".activity.TutorMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TutorAppointmentManager"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.StudentAppointmentManager"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.StudentMain"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TutorBrowser"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.FilterCreator"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".dialog.MakeAppointmentLongpressConfirmationDialog"
            android:label="Would you like to make an appointment?"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".dialog.AppointmentCreator"
            android:label="Make an Appointment"
            android:theme="@style/AppThemeDialog" />
    </application>

</manifest>